<h2 style="color: #66FFFF">Login to the Coding Tips</h2></br></br>
 <form action="/login" method="POST">
   <p> Username:  <input type="text" name="username"></p>
   <p> Password:  <input type="password" name="password" ></p></br></br>
   <input type="submit" value="login">
 </form>
