<h4 style="color: orange">Only <%=@tip.user.username%> is authorised to edit coding tip "<%=@tip.content%>" </h4></br>
<h4 style="color: #66FFFF">To see list of all Coding tips, please click <a href="/">here.</a></h4>
