<form action="/tips" method="POST">
<h4> Please write your Coding Tip content below. </h4>
  <textarea type="text" id="content" name="content">Tip Description</textarea><br>

  <h4> Either select a coding language for this tip below or create a new language </h4>
  <%Language.all.each do |language|%>
    <input type="radio" name="tip[language_id]" id="<%=language.id%>" value="<%=language.id%>">  <%=language.name%></input>
  <%end%>

  <br>

  <h4>or, create a new language:</h4>
  <h4>Language:</h4>
    <input  type="text" name="language[name]" id="language_name"></input>
  <br></br>
    <input type="submit" value="Create Coding Tip">
</form>
